@import "palette.css";

.Header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--colorPri);
    color: var(--colorLight);
    min-height: 5vh;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: large;
}

.HeaderSection {
    width: 30vw;
    text-align: center;
}

a {
    font-size: 1.17em;
    color: var(--colorLight);
    text-decoration: none;
    margin-left: 1vw;
    margin-right: 1vw;
}

a:hover {
    color: var(--colorAcc);
}

.EvenSpace {
    justify-content: space-between;
}