@import "palette.css";

hr {
  color: var(--colorPri);
  max-width: 90vw;
  text-align: left;
  margin-left: 0;
}

h5 {
  color: var(--colorSec)
}

.Background {
  min-width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.bg1 {
  background-color: var(--colorPri);
}

.bg2 {
  background-color: var(--colorSec);
}

.bg3 {
  background-color: var(--colorAcc);
}

.bgW {
  background-color: var(--colorLight);
}

.LeftJustify {
  text-align: left;
  align-items: flex-start;
  width: 100vw;
  padding-left: 5vw;
}

.RowFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:70vw;
}

.uct {
  width: 1050px;
  height: 600px;
  max-width: 80vw;
  max-height: 80vh;
}