@import "palette.css";

hr {
  color: var(--colorAcc);
  max-width: 90vw;
  text-align: left;
  margin-left: 0;
}

/* h3 {
  margin: 5px;
} */

h5 {
  color: var(--colorSec);
  margin: 5px;
}

.Background {
  min-width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  /* padding-bottom: 5vh; */
}

.bg1 {
  background-color: var(--colorPri);
}

.bg2 {
  background-color: var(--colorSec);
}

.bg3 {
  background-color: var(--colorAcc);
}

.bgW {
  background-color: var(--colorLight);
}

.LeftJustify {
  text-align: left;
  align-items: flex-start;
  width: 95vw;
  padding-left: 5vw;
}

.RowFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width:90vw;
}

.SpaceAround {
  justify-content: space-around;
}

.ExperienceTextHeight {
  height: 20px;
}

.RightJustify {
  text-align: right;
}

.uct {
  width: 1050px;
  height: 600px;
  max-width: 80vw;
  max-height: 80vh;
}

.ResumeItem {
  max-width: 50vw;
  min-width: 25vw;
  margin: 1vw;
  padding: 1%;
  background-color: var(--colorLight);
  border-color: var(--colorAcc);
  border-style: solid;
  border-width: medium;
  border-radius: 20px;
}

.ItemTitle {
  text-align: center;
}

.TwoColumn {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.LongWidth {
  width: 58vw;
}